<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>按钮</title>
    <!-- 引入bootstrap.min.css -->
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <button class="btn btn-danger">危险按钮</button>
    <button class="btn btn-warning">警告按钮</button>
    <button class="btn btn-primary">主题按钮</button>
    <button class="btn btn-success">成功按钮</button>
    <button class="btn btn-info">信息按钮</button>
    <button class="btn btn-default">默认按钮</button>
    <button class="btn btn-link">链接按钮</button>

    <!-- 一定要先引入jquery.min.js - bootstrap中的很多的js插件都是依赖于jquery
    jquery本身就是js的框架 -->
    <script src="../plugins/jquery/jquery.min.js"></script>

    <script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>