<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本模板</title>
    <!-- 引入bootstrap.min.css -->
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
</head>

<body>
    <div class="table-responsive">
        <table class="table table-hover">
            <caption>响应式表格布局</caption>
            <thead>
                <tr>
                    <th>产品</th>
                    <th>付款日期</th>
                    <th>状态</th>
                    <th>产品</th>
                    <th>付款日期</th>
                    <th>状态</th>
                    <th>产品</th>
                    <th>付款日期</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>产品1</td>
                    <td>23/11/2013</td>
                    <td>待发货</td>
                    <td>产品1</td>
                    <td>23/11/2013</td>
                    <td>待发货</td>
                    <td>产品1</td>
                    <td>23/11/2013</td>
                    <td>待发货</td>
                </tr>
                <tr>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                </tr>
                <tr>
                    <td>产品3</td>
                    <td>20/10/2013</td>
                    <td>待确认</td>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                </tr>
                <tr class="danger">
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 一定要先引入jquery.min.js - bootstrap中的很多的js插件都是依赖于jquery
    jquery本身就是js的框架 -->
    <script src="../plugins/jquery/jquery.min.js"></script>

    <script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>