<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本模板</title>
    <!-- 引入bootstrap.min.css -->
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
</head>

<body>
    <h2>创建模态框（Modal）</h2>
    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户登录入口</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form" action="">
                        <div class="form-group has-feedback">
                            <label for="firstname" class="col-md-2 control-label">用户名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="firstname" placeholder="请输入名字">
                                <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="lastname" class="col-md-2 control-label">密码</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                                <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 一定要先引入jquery.min.js - bootstrap中的很多的js插件都是依赖于jquery
    jquery本身就是js的框架 -->
    <script src="../plugins/jquery/jquery.min.js"></script>

    <script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>